@import "compass";
@import url(https://fonts.googleapis.com/css?family=Abel);
// font-family
$baseFontFamily :"游ゴシック", YuGothic, "メイリオ",Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;

// colors
$baseColor: #ffffff;
$subColor: #f5f5f5;
$keyColor: #696969;
$fontColor: #708090;


/* Base
------------------------------------------------------------*/
html{ font-size: 62.5%; }

body{
  color: $fontColor;
  font-size: 1.4rem;
  font-family:$baseFontFamily;
  line-height:1.6;
  letter-spacing: 0.1em; 
  background-color: $baseColor;
}

a {
  @include link-colors($keyColor, darken($keyColor, 10%), lighten($keyColor, 5%), darken($keyColor, 10%));
  text-decoration: none;
}

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center;
}

/* Layout
------------------------------------------------------------*/
.block-center {
  display: block;
  margin-top: 5.0rem;
  margin-left: auto;
  margin-right: auto;
}

/* Font
------------------------------------------------------------*/
.abel {
  font-family: 'Abel', sans-serif;
}
.uppercase {
  text-transform: uppercase;
}

// desktop
@media (min-width: 1025px) {

  /* Base
  ------------------------------------------------------------*/
  a {
    &:hover {
      background-color: $baseColor;
      text-decoration: bold;
    }
  }
}

/* Header
------------------------------------------------------------*/
header {
  .box {
    background-image: url(images/eye.jpg);
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  // desktop
  @media (min-width: 769px) {
  .box {
    background-image: url(images/eye.jpg);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  }
}

/* Contents
------------------------------------------------------------*/
// Common Styles
section {
  padding: 60px 0;
  .container {
    width: 90%;
    @extend .block-center;
  }
  h2 {
    @extend .abel;
    @extend .uppercase;
    font-size: 3.2rem;
  }
}

// Point
#point {
  background-color: $subColor;
  .container {
    @include display-flex;
    justify-content: space-between;
    @include flex-direction(column);    // スキルボックスを縦に並べる
    p{
    padding: 10px 20px;
    text-align: left;
    }
  }
  .point-box {
    @include flex(1);
    margin: 10px;           
    padding: 0;
    background-color: $baseColor;
    @include border-radius(4px);
    @include box-sizing(border-box);
    border: 1px solid $keyColor;
    text-align: center;
  }
  h1 {
    color: $keyColor;
    font-size: 3.0rem;
    margin-bottom: 20px;
  }
  h3 {
    color: $baseColor;
    margin-bottom:10px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    background-color: $keyColor;
    margin: 0 0 1.5rem 0;
  }
}

// desktop
@media (min-width: 769px) {

  // Point
  #point {
    .container {
      @include flex-direction(row);     // ボックスを横に並べる
      justify-content: space-between;
    }
    .point-box {
      width: (100% / 3);
      margin: 0 10px;                   // 左右にマージン
    }
  }
}

/* Footer
------------------------------------------------------------*/
  footer {
    .footer-container{
    background-color: $baseColor;
    padding: 10px 0;
    text-align: center;
    color: #FFF;
    }
    h3 {
    color: $keyColor;
    margin: 3.0rem 0 0 0;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    }
    .button-readmore {
      width: 20.0rem;
      height: 1.6rem;
      padding: 1.0rem;
      border: 2px solid $keyColor;
      color: $keyColor;
      display: block;
      vertical-align: middle;
      text-align: center;
      @include border-radius(4px);
      font-size: 1.6rem;
      line-height: 1.6rem;
      margin-top: 0;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      &:hover {
        background-color: #a9a9a9;
        border-color: #a9a9a9;
        color: $baseColor;
        text-decoration: blink;
      }
    }
   }
